h1 {
	font-family: 'Comic Sans MS', cursive;
	color: red;
	text-shadow: 1px 1px white, 2px 2px white, 3px 3px white;
}

h2, h3, h4, p, a {
	font-family: 'Comic Sans MS', cursive;
	color: red;
	text-shadow: 1px 1px white;
}

body {
	background: url('http://www2.warnerbros.com/spacejam/movie/img/bg_stars.gif');
}

.badge {
	background-color: red;
	text-shadow: none;
}